@import "../../styling/variables/colors";

.landing-page-header {
  position: absolute;
  z-index: 0;

  &__container,
  &__container-divider {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100vw 100vw 100vw;

    transform: rotate(-20deg);
  }

  &__container {
    left: -75vw;
    top: -60vw;
    z-index: 20;
    border-color: transparent transparent $quinary-color transparent;
  }

  &__container-divider {
    left: -72vw;
    top: -60vw;
    position: absolute;
    z-index: 10;
    border-color: transparent transparent $senary-color transparent;

    box-shadow: 21px 10px 42px -2px rgba(0,0,0,0.57);
  }
}


