.header-profile {
  position: absolute;
  z-index: 30;

  &__container {
    width: 20vw;
    height: 20vw;
    top: 15vw;
    left: 50%;
    border-radius: 20vw;
    overflow: hidden;

    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.37);

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 20vw;
      width: 100%;
      height: 100%;
    }
  }

  &__container img {
    position: absolute;
    top: -50px;
  }
}
