:root {
    --lic-font-heading: 'Alegreya Sans SC', sans-serif;
    --lic-font-body: 'Raleway', sans-serif;
    --lic-color-primary: #282C34;
    --lic-color-secondary: #62BBB6;
    --lic-color-tertiary: #345764;
    --lic-color-quartinary: #E9EFEA;
    --lic-color-quinary: #E1A550;
}

html {
    font-size: 16px;
}

html,
body {
    background: #282C34;
    font-family: var(--lic-font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:var(--lic-font-heading);
    color: var(--lic-color-primary) !important;
}

p {
    font-size: 1rem;
    color: var(--lic-color-quartinary);
}

.site-wrapper {
    flex-direction: column;
}

header {
    position: relative;
    flex: 1;
}

.title-primary {
    color: var(--lic-color-quartinary) !important;
}

.title-secondary {
    color: var(--lic-color-tertiary) !important;
}

.u-justify-center {
    justify-content: center;
}
